* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: rgb(255, 197, 226);
  width: 100%;
  height: 100vh;
  display: flex;
}

.inner-container {
  width: 80%;
  margin: auto;
  background-color: white;
  border-radius: 2em;
  height: 80%;
  padding: 3em;
}

.header .subtitle {
  color: lightblue;
}

.header .title {
  font-size: 2.1em;
}
.header .date {
  color: grey;
}

.input {
  border: 1px solid grey;
  border-radius: 2em;
  display: flex;
  justify-content: space-around;
  padding: 0.5em;
  margin: 2em 0;
}

.input:focus-within{
  border-color: aqua;
}

.input i {
  font-size: 1.5em;
}

.input input {
  width: calc(100% - 4em);
  border-style: none;
  outline: none;
}

.todos ul {
  list-style: none;
}

.todos ul li {
  background-color: lightcoral;
  border-radius: 2em;
  padding: 1em;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
}

.todos ul li i {
  font-size: 1.5em;
}

h2.line-through {
  text-decoration: line-through;
}

.todo-text {
  display: flex;
  align-items: center;
}

.todo-text i {
  margin-right: 0.3em;
}